@model IEnumerable<Category>

@{
    ViewData["Title"] = "Category List";

}


<h1 class="text-center">Category List</h1>
<hr />
<a asp-area="admin" asp-controller="Category" asp-action="Create" class="btn btn-outline-success mb-2">Add New</a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Category Id</th>
            <th>Category Name</th>
            <th>Books</th>
            <th style="width:200px;">Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.CategoryName</td>
                <td>
                    @if (item.Books != null && item.Books.Any())
                    {
                        var booksToShow = item.Books.Take(3).ToList();
                        for (int i = 0; i < booksToShow.Count; i++)
                        {
                            @booksToShow[i].Name

                            @if (i < booksToShow.Count - 1)
                            {
                                <text>, </text>
                            }
                        }

                        @if (item.Books.Count() > 3)
                        {
                            <text>...</text>
                        }
                    }
                    else
                    {
                        <span class="text-danger">Bu Kategoriye Henüz Kitap Eklenmemiş!</span>
                    }
                </td>

                <td>
                    <a class="btn btn-danger" asp-area="admin" asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    <a class="btn btn-success" asp-area="admin" asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>